/* @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */

/* Estilos gerais */
html, body {
  margin: 0;
  padding: 0px;
}
button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* @font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
} */

/* Estilos do menu */
.container {
  display: flex;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* Começa escondida para a esquerda */
  width: 200px;
  height: 100%;
  background-color: #f1f1f1;
  transition: left 0.3s ease; /* Adiciona uma transição suave */
}

.sidebar.active {
  left: 0; /* Mostra a barra lateral quando a classe 'active' é aplicada */
}

.sidebar header {
  background-color: black;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-top: 10px;
}

.sidebar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.sidebar li ul {
  display: none; /* Oculta o dropdown por padrão */
  background-color: #f1f1f1; /* Cor de fundo do dropdown */
  padding: 0;
  margin-left: 10px; /* Espaçamento à esquerda para indentação do dropdown */
}
.sidebar li:hover ul {
  display: block; /* Exibe o dropdown ao passar o mouse no item do menu */
}


.content {
  /* margin-left: 200px; A margem à esquerda é igual à largura da barra lateral */
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
.sidebar.active + .content {
  margin-left: 200px; /* A margem à esquerda se ajusta à largura da barra lateral quando ela estiver aberta */
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #588c7e;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
  border: 1px solid #ddd;

}


#menu-toggle {
  background-color: black; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 1px ; /* Espaçamento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Adiciona o ícone de mão ao passar o mouse */
  border-radius: 1px; /* Adiciona bordas arredondadas ao botão */
  
}

#menu-toggle:hover {
  background-color: #45a049 ; /* Cor de fundo do botão quando passar o mouse */
}





