html, body{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

img{
justify-content: center;
text-align: center;
}

.form{
  
  text-align: end;
  padding: 50px;
  font-family: 'Inter', sans-serif;
  color: aliceblue;
}
.formulario{
  border-radius: 5px;
  border-color: aliceblue;
}