{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="icon" href="{%static 'img/logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  
  <body>
    {% if user.is_authenticated and not request.user == None%}

    <button id="menu-toggle" ><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
  <div class="sidebar">
    <header>Menu</header>
    <div class="container">
      <ul>
        
        <li class="dropdown">
          <a href="#">Cadastro</a>
          <!-- Dropdown para Página 4 -->
          <ul class="sub-menu">
            <li><a href="#">Grupo Empresa</a></li>
            <li><a href="#">Empresa</a></li>
          </ul>
    </div>
  </div>
  <div class="content">
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de conteúdo da página.</p>
    <table>
          <h2>Empresa</h2>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Grupo Empresa</th>
                  </tr>
                </thead>
                <tbody>
                  {% for empresa in empresas %}
                  <tr>
                    <td>
                      <a href="#" data-toggle="modal" data-target="#myModal{{ empresa.cod_empresa }}">{{ empresa.cod_empresa }}</a>
                    </td>
                    <td>{{ empresa.razao }}</td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>{{ empresa.grp_empresa }}</td>
                  </tr>
                  <!-- Modal para cada empresa -->
                  <div class="modal fade" id="myModal{{ empresa.cod_empresa }}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Detalhes da Empresa</h5>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <!-- Formulário -->
                          <form>
                            <div class="form-group">
                              <label for="nome">ID:</label>
                              <input type="text" class="form-control" id="nome" value="{{ empresa.cod_empresa }}"readonly>
                            </div>
                            <div class="form-group">
                              <label for="nome">Nome:</label>
                              <input type="text" class="form-control" id="nome" value="{{ empresa.razao }}">
                            </div>
                            <div class="form-group">
                              <label for="cnpj">CNPJ:</label>
                              <input type="text" class="form-control" id="cnpj" value="{{ empresa.cnpj }}"readonly>
                            </div>
                            <div class="form-group">
                              <label for="Grupo Empresa">Grupo Empresa:</label>
                              <input type="text" class="form-control" id="cnpj" value="{{ empresa.grp_empresa }}"readonly>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endif %}
        
      
<!-- Bootstrap da janela modal -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/111abf0fae.js" crossorigin="anonymous"></script>
  <script>
    // JavaScript para alternar a visibilidade da barra lateral
    const menuToggle = document.getElementById('menu-toggle');
    const sidebar = document.querySelector('.sidebar');
    const content = document.querySelector('.content');
    const table = document.querySelector('table');

    menuToggle.addEventListener('click', () => {
      sidebar.classList.toggle('active');
      content.classList.toggle('active');
      table.classList.toggle('active');
    });
  </script>
      </body>
      <!--  -->
</html>

