{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'dash.css' %}">
  <script src="{% static 'script.js' %}" ></script>
  <title>Dashboard</title>
</head>
<body>

  {% if user.is_authenticated and not request.user == None%}
<div class="left-column">
  <h2>{{request.user}}</h2>
  <p><strong>Email:</strong></p>
  <a href="#">{{request.user.email}}</a>
  </ul>
</div>
<div class="right">
 
  </nav>

</div>
  {% endif %}

      



</body>
</html>